{% extends '@App/user/layout.html.twig' %}

{% block body %}
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Profile show</h2>
                    </h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
                        <div class="" role="tabpanel" data-example-id="togglable-tabs">
                            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#tab_personal" id="personal-tab" role="tab"
                                                                          data-toggle="tab" aria-expanded="true">Personal
                                        details</a>
                                </li>
                                <li role="presentation" class=""><a href="#tab_contact" role="tab" id="contact-tab"
                                                                    data-toggle="tab" aria-expanded="false">Contacts</a>
                                </li>
                                <li role="presentation" class=""><a href="#tab_additional" role="tab" id="additional-tab"
                                                                    data-toggle="tab" aria-expanded="false">Additional
                                        info</a>
                                </li>
                            </ul>
                            <div id="myTabContent" class="tab-content">
                                <div role="tabpanel" class="tab-pane fade active in" id="tab_personal"
                                     aria-labelledby="personal-tab">

                                    {{ form_row(form.organisation.party.registeredName) }}
                                    {{ form_row(form.party.firstName) }}
                                    {{ form_row(form.party.lastName) }}
                                    {{ form_row(form.party.title) }}

                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="tab_contact" aria-labelledby="personal-tab">
                                    {{ form_row(form.party.contact.cellphone) }}
                                    {{ form_row(form.party.contact.privateEmail) }}
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="tab_additional" aria-labelledby="additional-tab">
                                    {{ form_row(form.createdAt) }}
                                    {{ form_row(form.createdBy) }}
                                    {{ form_row(form.updatedAt) }}
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="x_content">
                    <br>


                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <button class="btn btn-primary" type="button">Cancel</button>
                            <button class="btn btn-primary" type="reset">Reset</button>
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
{% endblock %}

